<footer class="bg-body-tertiary text-center">
    <div class="container p-4 pb-0">
        <section class="mb-4">
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #dd4b39;"
                href="https://soysena-my.sharepoint.com/:w:/g/personal/jcmican1_soy_sena_edu_co/EUJwz2ufdItFim2AjKwqpx4BlhHF_AkjkN_zDIsuYgq2eA?e=qJjDhW"
                role="button">Manual<i class="fab fa-google"></i></a>
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #333333;"
                href="https://github.com/jcmican1/ProyectoTecnologo" role="button"><i
                    class="fab fa-github"></i>Codigo</a>
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #2600ff;"
                href="mailto:jcmican1@soy.sena.edu.co?subject=Consulta" role="button"><i
                    class="fab fa-github"></i>Soporte</a>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright
        <br>
        <img src="./assets/Imagenes/logo.jpeg" alt="Logo" height="2%" width="2%">
    </div>
</footer>